{
    "$schema": "https://json.schemastore.org/swcrc",
    "sourceMaps": true,
    "module": {
      "type": "commonjs"
    },
    "jsc": {
      "target": "es2020",
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": true
      },
      "transform": {
        "legacyDecorator": true,
        "decoratorMetadata": true
      },
      "keepClassNames": true,
      "baseUrl": ".",
      "paths": {
        "@/*": ["./src/*"],
        // "@config": ["config"],
        // "@controllers/*": ["controllers/*"],
        // "@database": ["database"],
        // "@dto/*": ["dto/*"],
        // "@exceptions/*": ["exceptions/*"],
        // "@interfaces/*": ["interfaces/*"],
        // "@middlewares/*": ["middlewares/*"],
        // "@models/*": ["models/*"],
        // "@routes/*": ["routes/*"],
        // "@services/*": ["services/*"],
        // "@utils/*": ["utils/*"]
      }
    },
    "minify": false
  }
  